.container1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 454px;
    height: 454px;
}
.container2 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 454px;
    height: 250px;
}
.pv1 {
    width: 30px;
    height: 250px;
}
.pv2 {
    width: 80px;
    height: 250px;
}
.txt {
    text-align: center;
    width: 50px;
    height: 36px;
}

.btn{
    width: 200px;
    height: 50px;
    font-size: 38px;
    background-color: #000;
    border-color: #000;

}

.img {
    width: 208px;
    height: 208px;
    margin-left: 15px;
    margin-right: 15px;
}